#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2.5rem;
  align-items: center;
}

.grid-portion {
  grid-row: auto;
}

.icon {
  height: 30px;
}

.photo {
  border-radius: 5%;
  height: 25rem;
}

@media (max-width: 1020px) {
  #root {
    padding: 3rem;
  }

  .grid-parent {
    grid-template-areas:
      "top"
      "bottom";
    grid-template-columns: 1fr;
  }

  .grid-text {
    grid-area: bottom;
  }

  .grid-img {
    grid-area: top;
  }

  img {
    height: 23rem;
  }
}